.bg-container{
    height: 100vh;
    background-color: peru;
}
.flex-container {
    display: flex;
    flex-direction: row;
    padding: auto;
    margin: 16px;
    border-bottom: 1px solid #ccc;

  }
  .circle {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .fa-user {
    font-size: 18px;
    
  }
  hr{
    color: block;
    border-right: 1px;
  }
  .pass{
    padding: 16px;
    margin:16px;
  }